.fonctioning, .restaurant, .menu__content {
  padding: 40px 20px 70px 20px;
}

.fonctioning__card--active__icon, .fonctioning__icon {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.fonctioning__card--active__icon .fas, .fonctioning__icon .fas {
  width: 20px;
}

.restaurant__like, .menu__like {
  font-size: 22px;
}

.menu__card-title, .menu__card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.25;
}

body {
  color: black;
  margin: 0;
  font-weight: 100;
  font-size: 16px;
}

body,
input,
button {
  font-family: "Roboto", sans-serif;
}

.header-container {
  text-align: center;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  margin: 0;
}

h2 {
  font-size: 18px;
}

.container {
  -webkit-animation: fadeInAnimation ease 1s;
          animation: fadeInAnimation ease 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
  background-color: white;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  padding: 20px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  position: absolute;
  left: 20px;
  font-size: 20px;
  color: #5f5f5f;
}

.footer {
  padding: 20px 0px 20px 20px;
  background-color: #343434;
  color: white;
}

.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
}

.footer__list {
  padding: 0;
}

.footer__list-inline-item {
  list-style: none;
  font-weight: 400;
  padding-bottom: 10px;
}

.footer__icon {
  padding-right: 10px;
  font-size: 10px;
}

.footer__icon .fas {
  width: 10px;
}

.button_gradient {
  font-weight: 400;
  color: white;
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to left top, #9356dc, #ff79da);
  background-position: left;
  font-size: 15px;
  -webkit-box-shadow: rgba(83, 83, 83, 0.29) 0px 6px 10px -2px, rgba(83, 83, 83, 0.29) 0px 4px 10px -3px;
          box-shadow: rgba(83, 83, 83, 0.29) 0px 6px 10px -2px, rgba(83, 83, 83, 0.29) 0px 4px 10px -3px;
  -webkit-transition: background-image 300ms ease-in;
  transition: background-image 300ms ease-in;
}

.button_gradient:hover {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#a16be0), to(#ff93e1));
  background-image: linear-gradient(to left top, #a16be0, #ff93e1);
  -webkit-box-shadow: rgba(83, 83, 83, 0.29) 0px 6px 10px -2px, rgba(83, 83, 83, 0.29) 0px 4px 20px -3px;
          box-shadow: rgba(83, 83, 83, 0.29) 0px 6px 10px -2px, rgba(83, 83, 83, 0.29) 0px 4px 20px -3px;
  cursor: pointer;
}

.fa-heart {
  cursor: pointer;
  width: 24px;
  height: 48px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
  background-position: bottom;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: background-position 600ms ease-in-out, -webkit-text-stroke-color 600ms ease-in-out;
}

.fa-heart:hover {
  -webkit-text-stroke-color: transparent;
  background-position: top;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
            transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.loader {
  z-index: -5;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
}

.loader__circle::before {
  -webkit-animation: 2s linear infinite spinner;
          animation: 2s linear infinite spinner;
  -webkit-animation-play-state: inherit;
          animation-play-state: inherit;
  border: solid 10px whitesmoke;
  border-bottom-color: #9356dc;
  border-radius: 50%;
  content: "";
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  width: 120px;
  height: 120px;
  margin-top: 120px;
  margin-left: 120px;
  display: block;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  background-color: #e6e6e6;
  color: #444444;
  padding: 15px 0px 15px 0px;
  -webkit-box-shadow: inset 0 5px 5px -5px rgba(83, 83, 83, 0.39);
          box-shadow: inset 0 5px 5px -5px rgba(83, 83, 83, 0.39);
}

.location__icon {
  padding-right: 15px;
}

.business {
  padding: 40px;
  background-color: whitesmoke;
}

.business__byline {
  margin: 10px 0;
}

.business__button {
  margin: 10px;
}

.fonctioning__heading {
  padding-bottom: 20px;
}

.fonctioning__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  font-weight: 400;
}

.fonctioning__card {
  padding: 20px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
  position: relative;
  left: 10px;
  cursor: pointer;
  -webkit-box-shadow: rgba(83, 83, 83, 0.02) 0px 6px 20px 10px, rgba(83, 83, 83, 0.29) 0px 4px 10px -2px;
          box-shadow: rgba(83, 83, 83, 0.02) 0px 6px 20px 10px, rgba(83, 83, 83, 0.29) 0px 4px 10px -2px;
}

.fonctioning__card:hover {
  background-color: #fafafa;
  -webkit-box-shadow: rgba(83, 83, 83, 0.02) 0px 6px 10px -2px, rgba(83, 83, 83, 0.29) 0px 4px 20px -3px;
          box-shadow: rgba(83, 83, 83, 0.02) 0px 6px 10px -2px, rgba(83, 83, 83, 0.29) 0px 4px 20px -3px;
}

.fonctioning__card--active {
  background-color: #f2eafb;
}

.fonctioning__card--active__icon {
  color: #9356dc;
}

.fonctioning__card--active:hover {
  background-color: #f7f2fc;
  -webkit-box-shadow: rgba(83, 83, 83, 0.29) 0px 6px 10px -2px, rgba(83, 83, 83, 0.29) 0px 4px 20px -3px;
          box-shadow: rgba(83, 83, 83, 0.29) 0px 6px 10px -2px, rgba(83, 83, 83, 0.29) 0px 4px 20px -3px;
}

.fonctioning__number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 13px;
  width: 22px;
  height: 22px;
  text-align: center;
  padding-top: 4px;
  position: relative;
  right: 10px;
}

.fonctioning__icon {
  color: #5f5f5f;
}

.restaurant {
  background-color: whitesmoke;
}

.restaurant__heading {
  padding-bottom: 20px;
}

.restaurant__cards {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant__card {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 4px 10px 0 rgba(97, 97, 97, 0.1), 0 4px 10px 0 rgba(97, 97, 97, 0.1);
          box-shadow: 0 4px 10px 0 rgba(97, 97, 97, 0.1), 0 4px 10px 0 rgba(97, 97, 97, 0.1);
}

.restaurant__imagetag {
  position: relative;
  overflow: auto;
  height: 150px;
}

.restaurant__image {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.restaurant__tag {
  background-color: #99e2d0;
  padding: 5px 10px 5px 10px;
  position: absolute;
  top: 10%;
  right: 5%;
  font-weight: 400;
  font-size: 13px;
  border-radius: 2px;
  color: #278870;
}

.restaurant__text-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.restaurant__like {
  padding-right: 10px;
}

@media (min-width: 768px) {
  .fonctioning__cards {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fonctioning__card {
    width: 45%;
  }
  .restaurant__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .restaurant__card {
    width: 45%;
  }
}

.container-pagemenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  margin-bottom: auto;
}

.menu__image {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
  position: relative;
}

.menu__restaurant-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__restaurant-name {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8em;
}

.menu__like {
  padding-left: 50px;
}

.menu__part-title {
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  width: 40px;
  padding-top: 30px;
}

.menu__cards {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.menu__card {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-animation: fadeCard ease 1s;
          animation: fadeCard ease 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.menu__card:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menu__card:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu__card:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menu__card:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.menu__card:hover .menu__card-animation {
  margin-right: 0px;
}

.menu__card:hover .menu__icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu__card-container {
  padding: 10px 0px 10px 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.menu__card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.menu__card-title {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}

.menu__card-price {
  font-weight: 400;
  padding: 0px 10px 0px 10px;
}

.menu__card-animation {
  -webkit-transition: margin 350ms ease-in-out;
  transition: margin 350ms ease-in-out;
  margin-right: -80px;
  width: 80px;
  border-radius: 0px 10px 10px 0px;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__icon {
  width: 30px;
  height: 30px;
  font-size: 25px;
  color: white;
  text-align: center;
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  -webkit-transition-delay: 120ms;
          transition-delay: 120ms;
}

.menu__bloc-button {
  text-align: center;
}

.menu__button {
  margin-top: 40px;
  padding: 15px 40px 15px 40px;
}

@-webkit-keyframes fadeCard {
  0% {
    opacity: 0;
    margin-top: 15px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeCard {
  0% {
    opacity: 0;
    margin-top: 15px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  .menu__part-bloc {
    width: 30%;
  }
  .menu__part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */