.button_gradient {
  font-weight: $font-weight-middle;
  color: white;
  padding: 15px 20px 15px 20px;
  border: none;
  border-radius: 50px;
  background-image: $color-gradient;
  background-size: 200%;
  background-position: left;
  font-size: 15px;
  box-shadow: rgba(83, 83, 83, 0.29) 0px 6px 10px -2px,
    rgba(83, 83, 83, 0.29) 0px 4px 10px -3px;
  transition: background-image 300ms ease-in;
  &:hover {
    background-image: linear-gradient(
      to left top,
      lighten($color-primary, 5%),
      lighten($color-secondary, 5%)
    );

    box-shadow: rgba(83, 83, 83, 0.29) 0px 6px 10px -2px,
      rgba(83, 83, 83, 0.29) 0px 4px 20px -3px;
    cursor: pointer;
  }
}
.fa-heart {
  width: 24px;
  height: 48px;
  text-align: center;
  background-image: $color-gradient-heart;
  background-position: bottom;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: background-position 600ms ease-in-out,
    -webkit-text-stroke-color 600ms ease-in-out;

  &:hover {
    -webkit-text-stroke-color: transparent;
    background-position: top;
  }
}
.container {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  animation-delay: 2000ms;
  @include background-color-light;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.loader {
  z-index: -5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;

  &__circle::before {
    animation: 2s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 10px whitesmoke;
    border-bottom-color: $color-primary;
    border-radius: 50%;
    content: "";
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    width: 120px;
    height: 120px;
    margin-top: 120px;
    margin-left: 120px;
    display: block;
  }
}
