.container-pagemenu {
  display: flex;
  flex-direction: column;
  @include background-color-light;
  height: 100vh;
  justify-content: space-between;
}
.menu {
  margin-bottom: auto;
  &__image {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    @include background-color-light;
    @extend %padding-bloc;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    position: relative;
  }
  &__restaurant-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
  &__restaurant-name {
    font-family: $tittle-text;
    font-size: 1.8em;
  }
  &__like {
    @extend %icon-like;
    padding-left: 50px;
  }
  &__part-title {
    border-bottom: 3px solid $color-tertiary;
    padding-bottom: 5px;
    width: 40px;
    padding-top: 30px;
  }
  &__cards {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__card {
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    overflow: hidden;
    animation: fadeCard ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    @include transitionCard;
    &:hover .menu__card-animation {
      margin-right: 0px;
    }
    &:hover .menu__icon {
      transform: rotate(0deg);
    }
  }
  &__card-container {
    padding: 10px 0px 10px 10px;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
  }
  &__card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
  &__card-title {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 5px;
    @extend %overflow;
  }
  &__card-subtitle {
    @extend %overflow;
  }
  &__card-price {
    font-weight: 400;
    padding: 0px 10px 0px 10px;
  }
  &__card-animation {
    transition: margin 350ms ease-in-out;
    margin-right: -80px;
    width: 80px;
    border-radius: 0px 10px 10px 0px;
    background-color: $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: white;
    text-align: center;
    transform: rotate(-240deg);
    transition: transform 300ms ease-out;
    transition-delay: 120ms;
  }
  &__bloc-button {
    text-align: center;
  }
  &__button {
    margin-top: 40px;
    padding: 15px 40px 15px 40px;
  }
}

@keyframes fadeCard {
  0% {
    opacity: 0;
    margin-top: 15px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  .menu {
    &__part-bloc {
      width: 30%;
    }
    &__part {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
