%padding-bloc {
  padding: 40px 20px 70px 20px;
}
%icon-bloc {
  margin-right: 20px;
  display: flex;
  font-size: 18px;
  .fas {
    width: 20px;
  }
}

%icon-like {
  font-size: 22px;
}
%overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
